.nav-style {
	border-radius:0;
	background-image: url("../img/nav-bg.png");
	background-size: cover;
}


.landing {
background-image: url("../img/space.jpg");
background-size: cover;
color: white;
height:600px;
}

  body {
    padding-top:50px;
  }

@media (max-width: 768px) {
  body {
    padding-top:145px;
  }
}

