.nav-style {
	border-radius:0;
	background-image: url("../img/nav-bg.png");
	background-size: cover;
	margin-bottom:0;

}

  .navbar-default .navbar-nav > li > a, .navbar-default .navbar-header > a {
   color: white; /*Change active text color here*/
    }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-header > a:hover, .navbar-default .navbar-header > a:focus{
color: #27BBFC;  /*Sets the text hover color on navbar*/
}

.inner-content{
/*background-image: url("../img/bg-home.png");
background-size: cover;*/
color: white;
margin-bottom:0;
background-color: transparent;
}

.landing {
	background-image: url("../img/bg-home.png");
	background-size: cover;
	height:700px;
}

.bg-contain {
	background-image: url("../img/bg-home.png");
	background-size: cover;
	height:700px;
}


  body {
    padding-top:50px;
  }

@media (max-width: 768px) {
  body {
    padding-top:145px;
  }
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav > li > a {
  	border-top: 1px solid white;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Lato", Helvetica, Arial, sans-serif!important;
}

footer {
	background-color:black;
	height:50px;
	border-top: 1px solid white;
	color:white;
	margin-bottom:0;

}


footer .col-md-4 {
	text-align: center;
	padding-top: 5px;
}
