<div>
	<h1> Welcome to Theorizer, yo! </h1>

		<div>
			<h2>Submit a hypothesis</h2>
			Author: <input type="text" placeholder = "Enter your name" ng-model="author" />
			<br>
			Hypothesis: <input type="text" placeholder = "Enter your hypothesis in one sentence" ng-model="title" />
			<br>
			Evidence: <textarea placeholder = "Enter your supporting evidence to be evaluated"ng-model="evidence"></textarea>
			<br>
			<button ng-click="addTheory()" ui-sref ="theories">Hypothesize!</button>
		</div>

</div>