<nav class="navbar navbar-default navbar-fixed-top nav-style navbar-inverse" role="navigation">
  <div class="container fluid">

    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">Theorizer</a>
    </div>

     <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="hypothesize">Hypothesize</a></li>
      <li><a ui-sref="hypotheses">Evaluate</a></li>
    </ul>

  </div>
</nav>


<!-- <span ui-sref="home">THEORIZER HOME</span>

<a ui-sref="theories">hypothesis list</a> --> 